<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head}}
    </head>
    <body id="page-top">
        <!-- Navigation-->
        {{>navbar}}
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
           {{>about}}
            <hr class="m-0" />
            {{!-- <!-- Experience-->
            {{>experience}}
            <hr class="m-0" /> --}}
            <!-- Education-->
            {{>education}}
            <hr class="m-0" />
            <!-- Skills-->
            {{>skills}}
            <hr class="m-0" />
            <!-- Interests-->
            {{>interests}}
            {{!-- <hr class="m-0" />
            <!-- Awards-->
           {{>awards}} --}}
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
