 <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Rashid
                        <span class="text-primary">Zia</span>
                    </h1>
                    <div class="subheading mb-5">
                        House#191, Royal Homes, Islamabad, 45600 · +923362518439 ·
                        <a href="mailto:name@email.com">rashidzia055@gmail.com</a>
                    </div>
                    <p class="lead mb-5">Final year computer science student at NUCES FAST Lahore. 
                                    Excellent grasp of programming fundamental concepts and skilled in C/C++ and Java programming. 
                                    Highly motivated to learn and grow in desktop and web app development. 
                                    Eager to learn and work in team and on individual assignments and projects. 
                                    Highly interested in learning web design and development.</p>
                    <div class="social-icons">
                        <a class="social-icon" target="blank_" href="https://www.linkedin.com/in/rashid-zia-060913136/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" target="blank_" href="https://github.com/arzed404/"><i class="fab fa-github"></i></a>
                        <a class="social-icon" target="blank_" href="https://twitter.com/arzed404/"><i class="fab fa-twitter"></i></a>
                        <a class="social-icon" target="blank_" href="https://facebook.com/arzed404/"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </section>