 <section class="resume-section" id="about">
                <div class="resume-section-content">
                    <h1 class="mb-0">
                        Rashid
                        <span class="text-primary">Zia</span>
                    </h1>
                    <div class="subheading mb-5">
                        House#191, Royal Homes, Islamabad, 45600 · +923362518439 ·
                        <a href="mailto:name@email.com">rashidzia055@gmail.com</a>
                    </div>
                    <p class="lead mb-5">I am experienced in leveraging agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.</p>
                    <div class="social-icons">
                        <a class="social-icon" href="#!"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="#!"><i class="fab fa-github"></i></a>
                        <a class="social-icon" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="social-icon" href="#!"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </section>