<section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Interests</h2>
                    <p>Apart from acadamics , interests include reading non-ficiton, learning pencil art, learning 3d modeling on blender and Game development</p>
                    {{!-- <p class="mb-0">Currently at beginner stage of learning blender and unreal engine. Interested in low polygon game designs and assets design. Also interested in development of logics and design for software and programs, web apps and backend programming.</p> --}}
                </div>
            </section>