<section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Skills</h2>
                    <div class="subheading mb-3">Programming Languages & Tools</div>
                    <ul class="list-inline dev-icons">
                        <li class="list-inline-item"><i class="fab fa-java"></i></li>
                        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
                        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
                        <li class="list-inline-item"><i class="fab fa-js-square"></i></li>
                        <li class="list-inline-item"><i class="fab fa-node-js"></i></li>
                        <li class="list-inline-item"><i class="fab fa-npm"></i></li>
                    </ul>
                    
               
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            C/C++ programming
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Java Programming
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Full stack Web Development
                                <ol class="fa-ul mb-0">
                                    
                                        <li>.net Framework</li> 
                                        <li>Spring Framework</li> 
                                        <li>Express JS</li> 
                                </ol>
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                           Software Design and Development
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                           Algorithm Design and Analysis
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                           Understanding of Data Structures and Object oriented concepts
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                           Node js
                        </li>
                        
                    </ul>
                </div>
               
            </section>